version: '3.3'

services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - '3306:3306'
    volumes:
      - db:/var/lib/mysql
  flask:
    build:
      context: ./backend
      dockerfile: Dockerfile_debug
    ports:
      - '5000:5000'
    volumes:
      - ./backend:/app
    depends_on:
      - 'db'
  vue:
    build: 
      context: ./frontend
      dockerfile: Dockerfile_debug
    volumes:
      - ./frontend:/app
    depends_on:
      - 'flask'
    ports:
      - '8080:8080'

volumes:
  db:
